!!! 5
html(lang="en")
	head
		title WebIRC
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="stylesheet" type="text/css" href="/jquery-ui.css">
		<script type="text/javascript" src="/jquery.js"></script>
		<script type="text/javascript" src="/jquery-ui.js"></script>
		<script type="text/javascript" src="/client.js"></script>
	body
		#container
			h1 WebIRC
